@using SixteenClothing.Areas.Admin.ViewModels.Product
@model UpdateProductVM
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Product</h4>

                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                       <img style="width:100px height:50px" src="~/assets/images/@Model.Image" alt="" />
                        <input type="text" asp-for="Image" hidden />
                    </div>
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Title">
                        <span asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                        <span asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo">Image</label>
                        <input asp-for="Photo" class="form-control">
                        <span asp-validation-for="Photo"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button asp-controller="Product" asp-action="Index" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

